
.about-page {
	order: 1;
	flex-grow: 1;
	margin-left: 12px;
}

.margin-top {
  margin-top: 12px;
}

@media (max-width: 767px) {

  .about-page {
  	width: 100%;
  	margin: 50px 0 12px 12px;
  	padding: 12px 0 12px 0;
  	border-bottom: 1px red solid;
  	border-top: 1px red solid;
  }
}
