.about-page {
	order: 1;
	flex-grow: 1;
	padding: 12px;
}

.margin-top {
  margin-top: 12px;
}

@media (max-width: 767px) {

  .about-page {
  	margin-top: 56px;
  	border-bottom: 1px red solid;
  }
}

ul {
    list-style: none;
    list-style-position: outside;
}

li:before {
    content: "+";
    margin-right: 6px;
}
