@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

a, body, button, div, fieldset, form, h1, h2, html, label, legend, li, main, p, ul {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  color: red;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  vertical-align: baseline;
}

html, body { 
  min-height: 100%;
  margin: 12px 0 12px 0;
}

input {
	border: 1px red solid;
	height: 24px;
	width: 100%;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
  color: red;
}

.highlight:hover, .link:hover, button:hover {
  background-color: #ffe6e6;
  cursor: pointer;
}

.block {
  display: inline-block;
}

.right-pane {
  position: relative;
  float: right;
}

.border-left {
  height: 100vh;
  border-left: 1px red solid;
  padding-left: 12px;
}

.form-width {
  width: 300px;
}