@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

a, body, button, div, fieldset, form, h1, h2, html, label, legend, li, main, p, ul {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

html, body { 
  min-height: 100%;
}

input {
	border: 1px black solid;
	height: 24px;
	width: 100%;
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
}

button {
	cursor: pointer;
}

button:hover {
	font-style: italic
}

.italic:hover {
	font-style: italic
}