.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, auto);
}

.company {
  grid-column-start: 1;
  grid-column-end: 2;
}

.identify, .person {
  grid-column-start: 2;
  grid-column-end: 3;
}

.contact {
  grid-column-start: 3;
  grid-column-end: 4;
}

.response {
  grid-column-start: 4;
  grid-column-end: 5;
}

.followup {
  grid-column-start: 5;
  grid-column-end: 6;
}

.referral {
  grid-column-start: 6;
  grid-column-end: 7;
}

.col {
  text-align: center;
  border-bottom: 2px black dashed;
}

.company-card {
  padding: 10px;
}

.tool-tip {
  position: relative;
  float: right;
}

.icon {
  margin-right: 50px;
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  white-space:nowrap;
  background-color: #aef4a4;
  border: 2px black solid;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 120%;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}