table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  border-style: hidden;
}

th, td {
  font-weight: normal;
  padding: 10px;
  border-bottom: 1px black dashed;
}

tr:hover {
  background-color: #fdffab;
}

.tool-tip {
  position: relative;
  /*float: right;*/
}

.tool-tip .tool-tip-text {
  visibility: hidden;
  white-space:nowrap;
  background-color: #aef4a4;
  border: 2px black solid;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -8px;
  left: 120%;
}

.tool-tip:hover .tool-tip-text {
  visibility: visible;
}