.company-card {
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 12px;
  margin-right: 12px;
}

.person-card {
  padding: 12px;
  text-align: center;
}

.row {
  grid-column-start: 1;
  grid-column-end: 7;
  border-top: 1px #e60000 solid;
}