.grid-wrapper {
  width: 92vw;
  min-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px red solid;
  margin: 0 12px 12px 12px;
  align-items: end;
}

.company {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  padding-left: 12px;
  padding-bottom: 6px;
  margin-right: 12px;
}

.identify {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.contact {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.response {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}

.followup {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
}

.referral {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 6;
  grid-column-end: 7;
}

.col {
  text-align: center;
  padding-bottom: 5px;
  margin-right: 12px;
}

.help-banner {
  margin: 12px;
  border-bottom: 1px red solid;
  padding-bottom: 12px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .grid-wrapper {
    width: 100%;
  }
}