.modal-div {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: auto; /* Full height */
  width: 300px;
  overflow: auto; /* Enable scroll if needed */
  border: 2px solid black;
  background-color: white;
  margin: auto 14%;
}

.title-span {
  width: 100%;
  display: inline-block;
  border-bottom: 2px black solid;
  background-color: white;
}

.modal-header {
  float: left;
  padding: 5px;
}

a {
  text-decoration: none;
}

.fa-times {
  float: right;
  color: black;
  padding: 7px;
}

.fa-caret-down {
  padding-bottom: 10px;
}

fieldset {
  border: 0;
}

.company-fieldset {
  padding-bottom: 20px;
}

input {
  width: 90%;
  border: 2px solid black;
  margin-bottom: 10px;
}

.submit-button {
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

