/*
.nav {
	height: 40px;
  border-bottom: 1px black solid;
  background-color: white;
}

.app-title {
	position: absolute;
  padding: 5px;
}

.border-button {
	position: relative;
	float: right;
	height: 100%;
}
*/

.nav {
  display: inline-block;
  height: 100%;
  width: 100px;
  border-right: 1px black solid;
}