.nav {
  width: 3vw;
  border-right: 1px red solid;
}

.vert {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
}

.referred {
  top: 4vw;
  left: -1vw;
}

.logout {
  top: 3.5vw;
  left: 2.7vw;
}

.about {
  top: 3.2vw;
  left: 6.1vw;
}
/*
padding: 3.2vw 0vw 2.5vw .15vw;
*/
