.nav {
  min-width: 44px;
}

.nav-border {
  height: 100vh;
  border-left: 1px red solid;
}

.nav-border-right {
  border-right: 1px red solid;
}

.vert {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
}

.referred {
  top: 3.4vw;
  left: -1.3vw;
}

.logout {
  top: 2.8vw;
  left: 2.2vw;
}

.about {
  top: 2.6vw;
  left: 5.6vw;
}