.modal-div {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: auto; /* Full height */
  width: 300px;
  overflow: auto; /* Enable scroll if needed */
  border: 2px solid black;
  background-color: white;
  margin: auto 14%;
}