table {
  width: 100%;
  table-layout: fixed;
  text-align: left;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom: 1px black dashed;
}

th, td {
  font-weight: normal;
  padding: 10px;
  border: 1px black dashed;
}

tr:hover {
  background-color: #fdffab;
}