nav {
  border-bottom: 2px black solid;
  background-color: white;
  text-align: right;
}

.border-button {
  padding: 10px;
  border-left: 2px solid black;
}

.border-button:hover {
  background-color: #fdffab;
}