a, body, button, div, fieldset, footer, form, h1, h2, header, html, img, input, label, legend, li, main, nav, p, section, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

nav {
  border-bottom: 2px black solid;
  background-color: white;
  text-align: right;
}

button {
  padding: 10px;
  border-left: 2px solid black;
}

button:hover, tr:hover {
  background-color: ;
}