a, body, button, div, fieldset, footer, form, h1, h2, header, html, img, input, label, legend, li, main, nav, p, section, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

html, body { 
  min-height: 100%;
}

nav {
  border-bottom: 2px black solid;
  background-color: white;
}

button {
  padding: 10px;
}

.float-right {
  float: right;
  border-left: 2px black solid;
}

.border-right {
  border-right: 2px black solid;
}

button:hover, tr:hover {
  background-color: ;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-style: hidden;
  border-bottom: 2px black solid;
}

th, td {
  font-weight: normal;
  padding: 10px;
  border: 2px black solid;
}

td {
  height: 100px;
}