body, button, div, fieldset, form, h1, html, input, label, legend, li, main, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

fieldset {
  border: 0;
}

form {
  width: 300px;
  border: 2px solid black;
}

legend {
  min-width: 100%;
  border-bottom: 2px solid black;
  padding: 10px;
}

div {
  padding: 10px;
  background-color: ;
}

input {
  border: 2px solid black;
  margin: 10px;
}

button {
  display: block;
  background-color: ;
  text-decoration: underline;
}