body, button, div, h1, html, li, main, nav, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Sunflower', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
}

html, body { 
  min-height: 100%;
}

body {
  background-color: ;
}

h1 {
  padding: 15px;
}

.work {
  margin-left: 40px;
}

nav {
  border-bottom: 2px black solid;
  text-align: right;
  background-color: white;
}

button {
  border-left: 2px black solid;
  padding: 10px;
}

button:hover {
  background-color: ;
}